* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(45deg, #f06291, #fffde7)
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.calculadora {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(187,130, 130);
    background-color: #fff;
    #display{
        color: #0a1e23;
    }
    #clear {
        background-color: #ffd5d8;
        color: #fc4552;
    }
    .btn-number {
        background-color: #c3eaff;
        color: #000000;
    }
    .btn-operator {
        background-color: #ffd0fb;
        color: #f967f3;
    }
    .btn-equals {
        background-color: #adf9e7;
        color: #000;
    }
}
.theme-toggler{
    
}